
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #F8F4E3;

}

/* Top banner styling */
.top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#6ABF4B;
  padding: 10px 50px;
  color: white;
  position: relative;
}

.social-media-icons {
  display: flex;
  gap: 50px;
}

.social-media-icons a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.social-media-icons a:hover {
  opacity: 0.7;
}


.tagline {
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-icons {
  display: flex;
  gap: 50px;
}

.nav-icons a {
  color: white;
  font-size: 20px;

  text-decoration: underline; 
   
}

/* Navigation bar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: right;
  background-color: #f8f8f8;
  padding: 1rem;
}


.logo {
  display: flex;
  align-items: center;
 
}

.logo img {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
 
}

.logo span {
  font-size: 24px;
  font-weight:lighter;
  color: #333;
  display: flex;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.nav-links li {
  margin-right: 20px;
  
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
  font-weight: 500;
  margin-right:5px;
}

.nav-links a :hover{
  text-decoration: underline;
}
